<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Distance</th>
      <th>Cost</th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td><%= @routing_info.route %></td>
        <td><%= @routing_info.route.distance %></td>
        <td><%= @routing_info.cost %></td>
    </tr>
  </tbody>

</table>
<%= link_to 'Back', start_routing_path %> |
<%= link_to 'Maps', maps_path %>
