<%=form_tag start_routing_path(@map) do %>
  <div class="field">
    <%=select_tag :from, options_for_select(@starting_points) %>
    <%=label_tag 'From' %>
  </div>

  <div class="field">
    <%=select_tag :to, options_for_select(@destination_points) %>
    <%=label_tag 'To' %>
  </div>  

  <div class="field">
    <%=text_field_tag 'fuel_consumption'%>
    <%=label_tag 'Fuel consumption' %>
  </div>

  <div class="field">
    <%=text_field_tag 'fuel_price'%>
    <%=label_tag 'Fuel price' %>
  </div>

  <div class="actions">
    <%= submit_tag "Route" %>
  </div>  
  
  <%= link_to 'Back', maps_path %>
<% end%>
