<p id="notice"><%= notice %></p>

<h1>Listing Segments</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @segments.each do |segment| %>
      <tr>
        <td><%= segment.source %></td>
        <td><%= segment.destination %></td>
        <td><%= segment.distance %></td>
        <td><%= link_to 'Show', map_segment_path(segment.map, segment) %></td>
        <td><%= link_to 'Edit', edit_map_segment_path(segment.map, segment) %></td>
        <td><%= link_to 'Destroy', map_segment_path(segment.map, segment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Segment', new_map_segment_path %> |
<%= link_to 'Maps', maps_path %>
