<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @segment.source %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @segment.destination %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @segment.distance %>
</p>

<%= link_to 'Edit', edit_map_segment_path(@segment.map, @segment) %> |
<%= link_to 'Back', map_segments_path %> |
<%= link_to 'Maps', maps_path %>
